{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
    event list
{% endblock %}

{% block head %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{#    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>#}
{% endblock head %}

{% block content %}

    <h1 align="center">Event list</h1>


    <table class="table">
        <thead>
            <tr>
                <td>CATEGORIES</td>
                <td>IMAGE</td>
                <td>GROUP NAME</td>
                <td>MANAGER</td>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td><b>{{ event.category }}</b></td>
                <td><img class="event_pic_size" src="{{ event.event_pic.url }}"></td>
                <td><a href="{% url "view_event" event.id %}">{{ event.title }}</a></td>
                <td>{{ event.manager }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




    <p><a href="{% url 'add_event' %}">add event</a></p>

{% endblock content %}